<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<Pattern>%red(%d{HH:mm:ss.SSS}) %highlight(%.-1level) %green([%-8X{traceId}]) %magenta([%thread]) %cyan(%logger{36}:%line) %yellow(-) %msg%n</Pattern>
		</encoder>
	</appender>

	<logger name="io.github.honhimw" level="DEBUG"/>

	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
</configuration> 